<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cj.engine.dao.MatchRoundMapper">
    <resultMap id="result" type="com.cj.engine.model.MatchRoundInfo">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="category" jdbcType="SMALLINT" property="category"/>
        <result column="pattern_id" jdbcType="INTEGER" property="patternId"/>
        <result column="match_id" jdbcType="INTEGER" property="matchId"/>
        <result column="rounds" jdbcType="SMALLINT" property="rounds"/>
        <result column="groups" jdbcType="SMALLINT" property="groups"/>
        <result column="properties" jdbcType="LONGVARCHAR" property="properties"/>
    </resultMap>

    <select id="get" resultMap="result">
        select * from match_rounds where id=#{id}
    </select>

    <insert id="insert" parameterType="com.cj.engine.model.MatchRoundInfo">
        insert into match_rounds(id,category,pattern_id,match_id,rounds,groups,properties)
        values(#{id},#{category},#{patternId},#{matchId},#{rounds},#{groups},#{properties})
    </insert>

    <update id="update" parameterType="com.cj.engine.model.MatchRoundInfo">
        update match_rounds set category=#{category},pattern_id=#{patternId},match_id=#{matchId},rounds=#{rounds},
        groups=#{groups},properties=#{properties}
        where id=#{id}
    </update>
</mapper>