<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cj.engine.dao.MatchGroupMapper">
    <resultMap id="result" type="com.cj.engine.core.VsGroup">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="players" jdbcType="INTEGER" property="groupPlayerCount"/>
        <result column="pattern_id" jdbcType="INTEGER" property="patternId"/>
        <result column="idx" jdbcType="SMALLINT" property="index"/>
        <result column="winners" jdbcType="SMALLINT" property="winners"/>
        <result column="round" jdbcType="SMALLINT" property="round"/>
        <result column="round_id" jdbcType="VARCHAR" property="roundId"/>
        <result column="category" jdbcType="SMALLINT" property="category"/>
        <result column="state" javaType="com.cj.engine.core.VsStates" property="state"/>
        <result column="post_time" jdbcType="TIMESTAMP" property="postTime"/>
        <result column="properties" jdbcType="LONGVARCHAR" property="properties"/>
    </resultMap>

    <select id="get" resultMap="result">
        select * from match_groups where id=#{id}
    </select>

    <select id="gets" resultMap="result">
        select * from match_groups where pattern_id=#{patternId} and category=#{category}
    </select>

    <select id="getIdsByPatternId" resultType="java.lang.String">
        select id from match_groups where pattern_id=#{patternId}
    </select>

    <insert id="insert" parameterType="com.cj.engine.core.VsGroup">
        insert into match_groups(id,players,pattern_id,idx,winners,round,round_id,category,state,post_time,properties)
        values(#{id},#{groupPlayerCount},#{patternId},#{index},#{winners},#{round},#{roundId},#{category},#{state},#{postTime},#{properties})
    </insert>

    <insert id="batchInsert" parameterType="java.util.Collection">
        insert into match_groups (id,players,pattern_id,idx,winners,round,round_id,category,state,post_time,properties)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.groupPlayerCount},#{item.patternId},#{item.index},#{item.winners},#{item.round},#{item.roundId},#{item.category},#{item.state},#{item.postTime},#{item.properties})
        </foreach>
    </insert>

    <insert id="upsert" parameterType="com.cj.engine.core.VsGroup">
        INSERT INTO match_groups
        (id,players,pattern_id,idx,winners,round,round_id,category,state,post_time,properties)
        VALUES
        (#{id},#{groupPlayerCount},#{patternId},#{index},#{winners},#{round},#{roundId},#{category},#{state},#{postTime},#{properties})
        ON DUPLICATE KEY UPDATE
        id=#{id},players=#{groupPlayerCount},pattern_id=#{patternId},idx=#{index},winners=#{winners},
        round=#{round},round_id=#{roundId},category=#{category},state=#{state},post_time=#{postTime},properties=#{properties}
    </insert>

    <update id="update" parameterType="com.cj.engine.core.VsGroup">
        update match_groups set players=#{groupPlayerCount},pattern_id=#{patternId},idx=#{index},winners=#{winners},
        round=#{round},round_id=#{roundId},category=#{category},state=#{state},post_time=#{postTime},properties=#{properties}
        where id=#{id}
    </update>

    <delete id="delByPatternId">
        delete from match_groups where pattern_id=#{patternId}
    </delete>
</mapper>